body {
    background: var(--dr-color-background-primary);
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

#mainheader {
    background-color: var(--dr-color-background-brand-accent);
    color: white;
}

#subheader {
    background-color: white;
    border-bottom: 1px solid var(--dr-color-border-primary);
}

#mainheader,
#subheader {
    padding: var(--dr-spacing-medium);

}

/* Recommendation Icons */
.no-sig-find {
    color: var(--success-600);
    background: var(--success-100);
    height: 19px;
    border-radius: 100px;
}

#mainContent {
    padding-top: 136px;
    height: 100vh;
    overflow-y: hidden;
}

#macros {
    background: white;
    border-right: 1px solid var(--dr-color-border-primary);
    max-width: 600px;
    width: 100%;
    padding: var(--dr-spacing-medium);
}

.btn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

#builder-col {
    padding: var(--dr-spacing-medium);
    height: 100vh;
    overflow-y: scroll;
}

#builder-col .panel {
    background: white;
    border: 1px solid var(--dr-color-border-primary);
    border-radius: 16px;
    width: 100%;
    /* height: auto; */
    padding: var(--dr-spacing-medium);
    margin-bottom: 20px;
}

#builder-col .panel .header {
    display: flex;
    flex-direction: row;
    padding: 0 var(--dr-spacing-2x-small);
}

#textArea {
    /* border: 1px solid var(--dr-color-border-primary); */
    /* border-radius: var(--dr-radius-medium); */
    padding: var(--dr-spacing-medium) 0;
    width: 100%;
    font-size: 16px;
}


.label {
    font-weight: 700;
    padding: 0 var(--dr-spacing-2x-small);
}


div[contentEditable="true"] {
    padding: var(--dr-spacing-2x-small);
    border-radius: var(--dr-radius-small);
    /* min-height: 20px; */
}

div[contentEditable="true"]:hover {
    background: var(--neutral-200);
    transition: .5s;
}

.report-section {
    width: 100%;
}

.spacer {
    min-height: 150px;
}

#textArea .additional-option {
    font-weight: 700;
    color: var(--danger-600);
}

.option-icon {
    margin-right: 6px;
}

.dropdown-container {
    position: relative;
}

.dropdown-container>ul {
    height: 0;
    overflow: hidden;
    position: absolute;
    background: var(--dr-color-background-primary-inverse);
    color: white;
    z-index: 2;
    left: 0;
    top: 26px;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    box-shadow: 0 12px 16px rgba(0, 0, 0, .35);
}

.dropdown-container>ul li {
    padding: 8px;
    color: white;
    font-size: 14px;
}

.dropdown-container>ul li:first-of-type {
    border-radius: 8px 8px 0 0;
}

.dropdown-container>ul li:last-of-type {
    border-radius: 0 0 8px 8px;
}

.dropdown-container:hover>ul {
    height: auto;
    overflow: auto;
}

.dropdown-container>ul li:hover {
    background: var(--dr-color-background-brand);
    cursor: pointer;
}